.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 5;
    margin-top: auto;
  }
  
  .custom-icon {
    z-index: 4;
    color: black;
  }
  
  .custom-icon:hover {
    opacity: 0.6;
  }