.navigation {
  height: 100% !important;
  width: 5% !important;
  position: fixed !important;
  right: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  z-index: 5 !important;
  background-color: black !important;
}

.navbar-toggler-icon {
  background-image: url('../assets/hamburger-like-menu-pixel-perfect-260nw-2185327773 copy.png') !important;
}

.btn-close {
  background: transparent url('../assets/226-2260721_transparent-white-x-png-png-download.png') !important;
  opacity: .5 !important;
}

.toggle {
  color: white !important;
}

.offcanvas {
  background-color: black !important;
  color: white !important;
  font-family: "Noto Sans", sans-serif !important;
  letter-spacing: 5px;
}

.link:hover:before {
  transform: scaleX(1) !important;
  transform-origin: left !important;
}

.link:before {
  background-color: gray !important;
  transition: transform 0.5s ease-in-out !important;
  width: 100% !important;
  content: "" !important;
  inset: 0 !important;
  position: absolute !important;
  transform: scaleX(0) !important;
  transform-origin: right !important;
  z-index: -1 !important;
}

.link {
    position: relative;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .navigation {
    width: 8% !important;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 11% !important;
  }

}
@media screen and (device-width: 428px) {
  .navigation {
    width: 16% !important;
  }
}
