* {
    font-family : "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .entirePage {
      width: 100%;
      height: 100%;
    }
    .content {
        padding: 0 !important;

    }
    .intro {
        padding: 0 !important;
        margin-top: 17rem;
    }

    .about {
        padding: 0 !important;
        font-size: 14px;
    }
    .about-image {
        /* height: 350vh; */
        padding-top: 50px;
        background-image: url('../assets/bady-abbas-hxi_yRxODNc-unsplash.jpg');
    }
    .horizontal-container {
        width: 100% !important;
        padding: 15px !important;
    }
    .container-resume {
        padding: 0 !important;
        margin-top: 12rem;
        margin-left: 15px;
    }
    .skills-article {
        margin: 0 !important;
    }
    .contact {
        padding: 0 !important;
        padding-top: 100px !important;
    }
    .footer {
        width: 100% !important;
        position: relative;
        bottom: 0;
    }
    }

