.icon {
    filter: grayscale(100%);
}

.icon:hover {
    filter: none;
}

.skills-title {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    letter-spacing: 10px;
    border-radius: 30px;
    text-align: center;
    padding: 0.5rem;
}

.horizontal-container {
    background-color: black;
    padding: 1rem 10rem 1rem 15rem;
}