.icon {
    filter: grayscale(100%);
}

.icon:hover {
    filter: none;
}

.skills-title {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    letter-spacing: 10px;
    border-radius: 30px;
    text-align: center;
    width: 90%;
    padding: 1rem;
}