.container-resume {
    padding: 15rem 0rem 0rem 5rem;
}

.resume {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    color: black;
    width: 80%;
    position: relative;
    left: 8%;
    border-radius: 30px;
    margin-top: 15px;
}

#link {
    color: black;
    text-decoration: none;
    margin: 0px 5px 10px 5px;
    background-color: white;
    border-color: white;
}


#link:hover {
    color: white;
    background-color: black;
    border-color: black;

}

.card-body {
    background: rgba(255, 255, 255, 0.256);
}

.resume-title {
    letter-spacing: 10px;
}
