.contact-image {
    position: relative;
    height: 100vh;
}

.contact{
    padding: 5rem 20rem 0rem 20rem;
}

.contact-form {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    padding: 1rem ;
    letter-spacing: 5px;
    border-radius: 30px;
  }