.home-image {
    position: relative;
    height: 100vh;
}

.intro {
    padding: 20rem 5rem 0rem 0rem;
}

.content {
    background: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    color: black;
    padding: 1rem ;
    font-size: 1.5rem;
    letter-spacing: 10px;
    border-radius: 30px;
    text-align: center;

  }

/* MEDIA QUERIES */
/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 25rem 4rem 0rem 2rem;
  }
}

/* SMART PHONE */
@media only screen and (max-width: 767px) {
  .intro {
    padding: 25rem 2rem 0rem 0rem;
  }
  .content {
    height: 150%;
  }
}


