.home-image {
    position: relative;
    height: 100vh;
}

.intro {
    padding: 20rem 5rem 0rem 0rem;
}

.content {
    background: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    color: black;
    padding: 1rem ;
    font-size: 1.5rem;
    letter-spacing: 10px;
    border-radius: 30px;
    text-align: center;

  }

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .intro {
        padding: 20rem 4rem 0rem 0rem;
    }
  }
  
@media screen and (max-width: 768px) {
    .intro {
        padding: 20rem 3rem 0rem 0rem;
    }
  }

@media screen and (device-width: 428px) {
    .intro {
        padding: 10rem 3.5rem 0rem 0rem;
    }
  }



