.home-image {
    position: relative;
    height: 100vh;
}

.intro {
    padding: 20rem 5rem 0rem 5rem;
}

.content {
    background: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    color: black;
    padding: 1rem ;
    font-size: 1.5rem;
    letter-spacing: 10px;
    border-radius: 30px;
    text-align: center;

  }

/* MEDIA QUERIES */
/* @media only screen and (min-width: 200px) and (max-width: 767px) {
  .entirePage {
    width: 100%;
  }
} */


