.portfolio {
  justify-content: center;
  position: relative;
  padding: 2rem;
  left: 80px;
}

.carousel {
  width: 85%;
  padding: 1rem;
}

.port-title {
  background: rgba(255, 255, 255, 0.4);
  color: black;
  letter-spacing: 10px;
  border-radius: 30px;
  text-align: center;
  width: 85%;
}

.portfolio-content {
  background: rgba(170, 165, 165, 0.569);
  color: white;
  border-radius: 30px;
}

.github {
  text-decoration: none;
  color: black;
}

.github:hover {
  color: white;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    padding: 16rem 0rem 0rem 0rem;
  }
  .carousel {
    width: 100%;
    right: 6.5rem;
  }
  .port-title{
    width: 70%;
  }
  .portfolio-content{
    height: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 7rem 0rem 0rem 0rem;
  }
  .carousel {
    width: 100%;
    right: 6.5rem;
  }
  .port-title{
    width: 80%;
  }
  .portfolio-content{
    height: 40%;
  }
}

@media screen and (min-width: 767px){
  
}